/*
Stinky Fingers: Austin Ngan (Gerald), Yoonah Chang (Yelena), Yaying Liang Li (Blob), Han Zhang (Sirap)
SoftDev
P04 -- Ultibase
2022-06-10 */

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;

  font-family: Roboto, Ubuntu, Cantarell, 'Helvetica Neue'
}

main {
  margin: 8px;
}

.div1 { /*changed this to the announcements div*/
  top: 210px;
  right: 15px;
  width: 900px;
  height: 340px;
  padding: 10px;
  border: 1px solid blue;
  box-sizing: border-box;
}

.div2 {  /*calendar div*/
  width: 900px;
  height: 670px;
  padding: 10px;
  border: 1px solid blue;
  box-sizing: border-box;
}

.div3 {  /*links/documents div*/
  bottom: 35px;
  right: 15px;
  width: 900px;
  height: 370px;
  padding: 10px;
  border: 1px solid blue;
  box-sizing: border-box;
}

/* Header tags */
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

/* Link and text tags */
p {
  color: green;
  text-decoration-line: underline;
  text-decoration-color: #349beb;
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Navbar */
nav {
  padding: 1.2rem 2rem;
  background-color: rgb(35, 65, 87);

  font-size: 1.4rem;

  display: flex;
  justify-content: space-between;
}

/* Button stuff */
.button {
  border: none;
  padding: 15px 12px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}

/* Form stuff */
input[type=text] {
    width: 100%;
}

nav > div {
  display: flex;
  gap: 1.2rem;
}

nav * {
  color: white;
}
