<!--
Stinky Fingers: Austin Ngan (Gerald), Yoonah Chang (Yelena), Yaying Liang Li (Blob), Han Zhang (Sirap)
SoftDev
P04 -- Ultibase
2022-06-10 -->

{% extends "layout.html" %}

{% block title %} Home {% endblock %}
{% block body %}
    <p style="color:black;text-decoration: none;"> Ultibase is an all-in-one Ultimate Frisbee site that can check attendance, see the team's official roster,
    store important information like emails and USAU IDs, and animate Ultimate Frisbee plays like cuts and drills.
    Important links and documents will all be stored in one place, so captains and team members can access them easily.
    This website will be designed to be specifically used by the Stuyvesant Ultimate Frisbee teams. <br>
    <br>
    Stinky Fingers: Austin Ngan, Yoonah Chang, Yaying Liang Li, Han Zhang
    </p>

    <!-- 
    <center>
        <img src="flag.jpg" class="card-img-top" style="width:500px;height:600px;">
    </center>
    -->

{% endblock %}
