<!--
Stinky Fingers: Austin Ngan (Gerald), Yoonah Chang (Yelena), Yaying Liang Li (Blob), Han Zhang (Sirap)
SoftDev
P04 -- Ultibase
2022-06-10 -->

{% extends "layout.html" %}

{% block title %} Home {% endblock %}
{% block body %}




    <div class="container">
        <div id="classic-top" class="vis">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Days Present</th>
                    <th>Days Absent</th>
                </tr>
                {% for i in classic %}
                        <tr>
                            <td>{{ i[0] }}</td>
                            <td>{{ i[1] }}</td>
                            <td>{{ i[2] }}</td>
                            <td>{{ i[3] }}</td>
                        </tr>
                {% endfor %}
            </table>
        </div>
        <script src="/static/js/leaderboard.js"></script>
    </div>

    <!-- change this into a button -->
    <a href="/changeAttendance"> Checklist Attendance </a>

{% endblock %}
