<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" type="text/css" href="style.css">

	<head>
		<meta charset="utf-8"/>
		<title>Draw a play!</title>
	</head>
	
	<style>
		#playground { border: 1px solid black }
	</style>

	<h1>draw something up coach</h1>

	<div style = "display:flex; align-items: center; justify-content: center">
		<button id="draw">
			Draw
		</button>

		<button id="eraser">
			Eraser
		</button>

		<button id="clear">
		CLEAR
		</button>
    
	</div>

	<div style = "display:flex; align-items: center; justify-content: center">
		<canvas width="500" height="500" id="playground">
  		</canvas>

	</div>

	<div>
		<button id="next">
			Next Step
		</button>

		<button id="post">
			Finish
		</button>
	</div>

	<script src="temp.js"></script>

</html>
