<!--
Stinky Fingers: Austin Ngan (Gerald), Yoonah Chang (Yelena), Yaying Liang Li (Blob), Han Zhang (Sirap)
SoftDev
P04 -- Ultibase
2022-06-10 -->

{% extends "layout.html" %}

{% block title %} Draw a Play! {% endblock %}
{% block body %}

	<style>
		#playground { border: 1px solid black }
	</style>

	<h1>draw something up coach</h1>

	<div style = "display:flex; align-items: center; justify-content: center">
		<button id="draw">
			Draw
		</button>

		<button id="eraser">
			Eraser
		</button>

		<button id="clear">
		CLEAR
		</button>

	</div>

	<div style = "display:flex; align-items: center; justify-content: center">
		<canvas width="500" height="500" id="playground">
  		</canvas>

	</div>

	<div>
		<button id="next">
			Next Step
		</button>

		<button id="post">
			Finish
		</button>
	</div>

	<script src="temp.js"></script>

{% endblock %}
