<!--
Stinky Fingers: Austin Ngan (Gerald), Yoonah Chang (Yelena), Yaying Liang Li (Blob), Han Zhang (Sirap)
SoftDev
P04 -- Ultibase
2022-06-10 -->

{% extends "layout.html" %}

{% block title %} Enter Your Frees {% endblock %}

{% block body %}
<body>
  <div class="container d-flex justify-content-center mx-auto align-items-center">
    <div class="card login-card">
      <div class="card-body">
        <center>
          <h2 class="card-title"> Enter your frees </h2>
        </center>
        <form method="POST" action="/frees">
          <br>

          <div class="form-check">
            <input type='hidden' value='0' name='selfdestruct'>
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="1" name="p1" aria-label="...">
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>

          <div class="form-check">
            <input type='hidden' value='0' name='selfdestruct'>
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="1" name="p2" aria-label="...">
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>

          <div class="form-check">
            <input type='hidden' value='0' name='selfdestruct'>
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="1" name="p3" aria-label="...">
            <label class="form-check-label" for="inlineRadio3">3</label>
          </div>

          <div class="form-check">
            <input type='hidden' value='0' name='selfdestruct'>
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="1" name="p4" aria-label="...">
            <label class="form-check-label" for="inlineRadio4">4</label>
          </div>

          <div class="form-check">
            <input type='hidden' value='0' name='selfdestruct'>
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="1" name="p5" aria-label="...">
            <label class="form-check-label" for="inlineRadio5">5</label>
          </div>

          <div class="form-check">
            <input type='hidden' value='0' name='selfdestruct'>
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="1" name="p6" aria-label="...">
            <label class="form-check-label" for="inlineRadio6">6</label>
          </div>

          <div class="form-check">
            <input type='hidden' value='0' name='selfdestruct'>
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="1" name="p7" aria-label="...">
            <label class="form-check-label" for="inlineRadio7">7</label>
          </div>

          <div class="form-check">
            <input type='hidden' value='0' name='selfdestruct'>
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="1" name="p8" aria-label="...">
            <label class="form-check-label" for="inlineRadio8">8</label>
          </div>

          <div class="form-check">
            <input type='hidden' value='0' name='selfdestruct'>
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="1" name="p9" aria-label="...">
            <label class="form-check-label" for="inlineRadio9">9</label>
          </div>

          <div class="form-check">
            <input type='hidden' value='0' name='selfdestruct'>
            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="1" name="p10" aria-label="...">
            <label class="form-check-label" for="inlineRadio10">10</label>
          </div>

          <center>
            <div class="form-group">
              <input type="submit" value="Submit" class="btn btn-purple submitbutton"></input>
            </div>
          </center>
        </form>

        <br>

      </div> <!-- card body -->
    </div> <!-- card div -->
  </div> <!-- container div -->
</body>
{% endblock %}
