<!--
Stinky Fingers: Austin Ngan (Gerald), Yoonah Chang (Yelena), Yaying Liang Li (Blob), Han Zhang (Sirap)
SoftDev
P04 -- Ultibase
2022-06-10 -->

{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block body %}

  <br>
  <h1> Welcome to Ultibase! </h1>
  <div>
    {% if user is defined and user is not none %}
      <h2>hi</h2>
    {% else %}
      <h2>Please log in view your dashboard</h2>
    {% endif %}
  </div>

    <div class="div1">
      <script language="JavaScript">
        function showInput() {
            document.getElementById('display').innerHTML =
                        document.getElementById("user_input").value;
        }
      </script>
      <form>
        <label for="announcement">New announcement:</label><br>
        <input type="text" id="user_input" name="announcement">
      </form>
        <input type="submit" value="Submit" onclick="showInput();"><br/>
        <label>Announcements: </label>
        <p><span id='display'></span></p>
    </div>
    <br>
    <div class="div2">
      Calendar <br>
      <center>
      <iframe src="https://calendar.google.com/calendar/embed?src=yoonah.chang%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </center>
    </div>
    <div class="div3">
      Important Pages
      <script type="text/JavaScript">
        function showMessage(){
            var message = document.getElementById("message").value;
            display_message.innerHTML= message;
        }
      </script>
      <br>
      Add new links/documents: <input type="text" id = "message">
      <input type="submit" onclick="showMessage()" value="Submit" />
      <p> See below! <br> <span id = "display_message"></span> </p>
      <br>
    </div>



{% endblock %}
