<!--
Stinky Fingers: Austin Ngan (Gerald), Yoonah Chang (Yelena), Yaying Liang Li (Blob), Han Zhang (Sirap)
SoftDev
P04 -- Ultibase
2022-06-10 -->

{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block body %}
<body>
  <div class="row align-items-start">
    <div class="col">
      <div class="container d-flex justify-content-center mx-auto align-items-center">
          <div class="card login-card">
            <div class="card-body">
              <center>
                <h2 class="card-title"> Login </h2>
              </center>

              <form action="/auth" method="POST">
                <br>
                <div class="form-floating form-group mb-4">
                  <input class="form-control" type="email" placeholder="i can be BIIIG" id = "floatingInput exampleInputUsername1" name = "email" required>
                  <label for="floatingInput exampleInputUsername1 "> email </label>
                </div>

                <div class="form-floating form-group mb-4">
                  <input class="form-control" type="password" placeholder="i can be BIIIG" id = "floatingInput exampleInputPassword1" name = "password" required>
                  <label for="floatingInput exampleInputPassword1"> password </label>
                </div>
                <center>
                  <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-purple submitbutton" ></input>
                  </div>
                </center>
              </form>

              <br>

              <div class="form-group">
               <p style="color:red;">{{ error }}</p>
               <a id="register" href = "/register"> Don't have an Account? Sign up!</a>
              </div>
            </div> <!-- card body -->
          </div> <!-- card div -->
        </div> <!-- container div -->
      </div>
    </div>

</body>
{% endblock %}
