<!--
Stinky Fingers: Austin Ngan (Gerald), Yoonah Chang (Yelena), Yaying Liang Li (Blob), Han Zhang (Sirap)
SoftDev
P04 -- Ultibase
2022-06-10 -->

{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block body %}
<form method="POST" action="/login">
  <br>
  <div class="form-floating form-group mb-4">
    <input class="form-control" type="username" placeholder="i can be BIIIG" id = "floatingInput exampleInputUsername1" name = "username" required>
    <label for="floatingInput exampleInputUsername1 "> username</label>
    <input class="form-control" type="email" placeholder="i can be BIIIG" id = "floatingInput exampleInputUsername1" name = "username" required>
    <label for="floatingInput exampleInputUsername1 "> email </label>
  </div>

  <div class="form-floating form-group mb-4">
    <input class="form-control" type="password" placeholder="i can be BIIIG" id = "floatingInput exampleInputPassword1" name = "password" required>
    <label for="floatingInput exampleInputPassword1"> password</label>
    <label for="floatingInput exampleInputPassword1"> password </label>
  </div>
  <center>
    <div class="form-group">
  <a id="register" class="flex-center" href = "/register">Don't have an account? Sign up</a>
{% endblock %}
