<!--
Stinky Fingers: Austin Ngan (Gerald), Yoonah Chang (Yelena), Yaying Liang Li (Blob), Han Zhang (Sirap)
SoftDev
P04 -- Ultibase
2022-06-10 -->

{% extends "layout.html" %}
{% block title %} Roster {% endblock %}

{% block body %}

  {% for year in allYears %}

    <div class="content">
      <p> Year: {{year}} </p>
    </div>

    {% for player in allInfo[0] %}
    <!-- player example: ('h@gmail.com', 'han', 'girls', '000') -->

      <div class="content">
        <p> Name: {{player[1]}} </p>
        <p> Email: {{player[0]}} </p>

        {% if admin == True %}
          <p> USAU ID: {{player[3]}} </p>
        {% endif %}

      </div>

    {% endfor %}

  {% endfor %}
{% endblock %}
