<!--
Stinky Fingers: Austin Ngan (Gerald), Yoonah Chang (Yelena), Yaying Liang Li (Blob), Han Zhang (Sirap)
SoftDev
P04 -- Ultibase
2022-06-10 -->

{% extends "layout.html" %}
{% block title %} Roster {% endblock %}

{% block body %}

  {% for year in allYears %}

    <div class="content">
      <p> Year: {{year}} </p>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th> Name </th>
          <th> Email </th>
          <th> USAU ID </th>
        </tr>
      </thead>
      <tbody>
        {% for player in allInfo[0] %}
          <tr>
            <th>
              {{player[1]}}
            </th>
            <th>
              {{player[0]}}
            </th>
            <th>
              {{player[3]}}
            </th>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% endfor %}

{% endblock %}
