<!--
Stinky Fingers: Austin Ngan (Gerald), Yoonah Chang (Yelena), Yaying Liang Li (Blob), Han Zhang (Sirap)
SoftDev
P04 -- Ultibase
2022-06-10 -->

{% extends "layout.html" %}

{% block title %} Home {% endblock %}
{% block body %}

<body>
  <div class="container d-flex justify-content-center mx-auto align-items-center">
    <div class="card login-card">
      <div class="card-body">
        <center>
          <h2 class="card-title"> Tosso Tracker </h2>
        </center>

        <div class="form-group">
          <p style="color:red;">{{ explain }}</p>
          <a id="frees" href = "/frees"> Change your frees here!</a>
        </div>
      </div> <!-- card body -->
    </div> <!-- card div -->
  </div> <!-- container div -->

  <table class="table">
    <thead>
      <tr>
        <th> Name </th>
        <th> Period </th>
      </tr>
    </thead>
    <tbody>
      {% for i in allFrees %}
        <tr>
          <th>
            {{i[2]}}
          </th>
          <th>
            {{i[0]}}
          </th>
        </tr>

      {% endfor %}
    </tbody>
  </table>

</body>


{% endblock %}
