<!--
Stinky Fingers: Austin Ngan (Gerald), Yoonah Chang (Yelena), Yaying Liang Li (Blob), Han Zhang (Sirap)
SoftDev
P04 -- Ultibase
2022-06-10 -->

{% extends "layout.html" %}
{% block title %} Change Attendance {% endblock %}

{% block body %}

  <div class="container">
      <div id="classic-top" class="vis">
        <form action="/updated">
          <table class="table">
              <tr>
                  <th>Name</th>
                  <th>Present?</th>
              </tr>

              {% for player in allInfo %}
                      <tr>
                          <td>{{ player[1] }}</td> <!-- Name -->
                          <td><input type="checkbox" value=1 id={{player[0]}} /> Present</td> <!-- player[0] is unique email -->
                      </tr>
              {% endfor %}
          </table>
          <input type="submit" value="Submit">
        </form>
      </div>
      <script src="/static/js/leaderboard.js"></script>
  </div>

{% endblock %}
